h1 {
	color: #3BD8AE;
	text-align: center;
	font-size: 72px;
	font-family: Lobster;
	font-weight: bold;
	
	
}

h3 {
	color: #3BD8AE;
	text-align: center;
	font-size: 48px;
	font-family: Lobster;
	font-weight: bold;
}

body {
	background: linear-gradient(-45deg, #FE0199, #A101FE);
}

img {
    border-radius: 50%;
}

p {
	color: black;
	text-align: center;
	font-size: 36px;
	font-family: Lobster;
	font-weight: 100;
}

button {
    background-color: #A101FE; /* Purple */
    border: none;
    color: white;
	font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
